<%
  const navIcons = {
    submenu:  'fa fa-files-o',
    group:    'fa fa-folder-open-o',
    view:     'fa fa-list',
    create:   'fa fa-plus',
    add:      'fa fa-plus',
    download: 'fa fa-download',
    upload:   'fa fa-upload',
  }
  function navIcon(icon, override) { return override || navIcons[icon] || icon }
%>
<ul class="nav nav-pills nav-stacked" id="<%- menu %>">
  <% items.forEach((i) => { %>
    <li class="nav-item">
      <a href="<%- i.link %>" class="nav-link">
        <% if(i.icon) { %>
          <i class="<%- navIcon(i.icon, i.override) %>"></i>
        <% } %>
        <%- i.label %>
      </a>
    <% if(i.subMenu) { %> 
      <ul class="nav nav-second-level">
        <% i.subMenu.forEach((s) => { %>
          <li class="nav-item">
            <a href="<%- s.link %>" class="nav-link">
              <% if(s.icon) { %>
                <i class="<%- navIcon(s.icon) %>"></i>
              <% } %>
              <%- s.label %>
            </a>
            <% if(s.subMenu) { %>
                <ul class="nav nav-third-level">
                  <% s.subMenu.forEach((g) => { %>
                    <li class="nav-item">
                      <a href="<%- g.link %>" class="nav-link">
                      <% if(g.icon) { %>
                        <i class="<%- navIcon(g.icon) %>"></i>
                      <% } %>
                      <%- g.label %></a>
                    </li>
                  <% }) %>
                </ul>
              <% } %>
          </li>
        <% }) %>
      </ul>
    <% } %>
    </li>
  <% }) %>
</ul>
